body {
  margin: 0;
  background: darkgray;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: column;
}

.ground {
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background: blue;
}

#networkCanvas {
  border: 2px solid #333;
}

#carCanvas {
  border: 2px solid #333;
  background: lightgray;
}
